body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 70px;
    padding: 70px;
    margin-top: 0px;
    padding-top: 0px;
}

header {
    width: 100%;
    text-align: center;
    padding: 40px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    width: 100%;
    text-align: center;
    margin: 20px;
    padding: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.same {
    background: #ebebeb;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 20px;
    text-align: center;
    margin-top: 40px;;
    padding: 10px;
    padding-top: 30px;
}


section {
    width: 495px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    height: 247px;
    padding-bottom: 60px;
    margin-top: 0px;
    padding-top: 50px;
    float: left; 
    position: relative;
    top: 7px;
    
}

footer {
    clear: both;
    text-align: center;
    margin: 20px;
    width: 100%;
    padding: 40px;
    position: relative;
    bottom: 370px;
}

.heading {
    color: #777;
    background: #ebebeb;
    padding: 20px;
    margin: 10px;
}

aside {
    position: relative;
    left: 555px;
    bottom: 370px;
    text-align: center;
    margin-left: 20px;
    padding: 15px;
    height: 225px;
    width: 455px;
    overflow: auto;
    height: 247px;
    padding-bottom: 60px;
    padding-top: 50px;
    margin-top: 20px;


}

div {
    margin-top: 20px;
}



